@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    @Styles.Render("~/content/extjs")
    @Scripts.Render("~/bundles/extjs")
</head>
<body>
    @RenderBody()
</body>
</html>
